.contents.row
  .contents
    = render partial: "sidebar"
    .main
      .top_contents
        .edit_box
          .edit edit
      .center_contents
      .bottom_contents
        .bottom_contents_message
          = form_for [@message] do |f|
            =f.text_area :text, placeholder: 'type a message'
            = fa_icon("image")
            = button_tag type: "submit", class: "button_block" do
              Send
