.contents.row
  .contents
    = render partial: "sidebar"
    .main
      .top_contents
        .edit_box
          .edit edit
      .center_contents
      .bottom_contents
        .bottom_contents_message
          .type_a_message type a message
        .sent_button
          .sent_box
            %p Send
