.contents.row
  .contents
    = render partial: "sidebar", locals: { message: @message }
    .main
      .top_contents
        .edit_box
          .edit edit
      .center_contents
      .bottom_contents
        .bottom_contents_message
          =form_tag("/messages", method: :post) do
            %input{name: "text",type:"text", placeholder: "type a text"}
            %input{type: "submit", value: "SENT"}/