// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//index.html 
.contents.row{
  .contents{
    display: flex;
    .main{
      height: 100px;
      // background-color:#AAAAAA;
      height:100vh;
      width: calc(100vw - 300px);
      min-width: 500px;
      .top_contents{
        height:96px;
        background-color:white;
        border-bottom: solid;
        border-color: #eeeeee;
        border-width: 1px;
        display: flex;
        flex-direction: row-reverse;
        .edit_box{
          height:40px;
          width:70px;
          position:relative;
          top: 28px;
          right: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border:solid;
          border-width: 2px;
          border-color: #38AEF0;
            .edit{
              color:#38AEF0;
            }
        }
      }
      .center_contents{
        width: calc(100vw - 300px);
        height: calc(100vh - 186px);
        background-color:white;
        .box{
          width: calc(100vw - 300px);
          height: calc(100vh - 186px);
          background-color:white;
          // background-attachment: fixed;
          .total_box:first-child{
            width: calc(100vw - 300px);
            height:80px;
            background-color:white;
            position:relative;
            top:46px;
            .users_box{
              width: calc(100vw - 340px);
              position:relative;
              left:40px;
              font-size:16px;
              font-weight: bold;
              color:#434A55;
              a{
                font-weight:lighter;
                font-size: 12px;
                color:#CCCCCC;
              }
            }
            .text{
              background-color:white;
              position:relative;
              top:10px;
              left:40px;
              font-size:14px;
            }
          }
          .total_box:not(:first-child){
            height:80px;
            width: calc(100vw - 300px);
            background-color:white;
            position:relative;
            top:40px;
            .users_box{
              width: calc(100vw - 340px);
              position:relative;
              left:40px;
              font-size:16px;
              font-weight: bold;
              color:#434A55;
              a{
                font-weight:lighter;
                font-size: 12px;
                color:#CCCCCC;
              }
            }
            .text{
              position:relative;
              left:40px;
              top:10px;
              background-color:white;
              font-size:14px;
            }
          }
        }
      }
      .bottom_contents{
        width: calc(100vw - 300px);
        height: 90px;
        background-color:#AAAAAA;

        .bottom_contents_message{
          height:50px;
          width: calc(100vw - 400px);
          position:relative;
          top:20px;
          left: 40px;

          form{
            .group1{
              width: calc(100vw - 550px);
              height: 50px;
              color:#38AEF0;
            }
            .group2{
              height:50px;
              width:110px;
              position:relative;
              left: 40px;
              background-color:#38AEF0;
              color:white;
              border-style: none;
            }
          }
        }
      }
    }
  }
}